:root {
    --primary-color: #1B35C4;
    --text-color: #4E4E4E;
    --bg-color: #DADADA;
    --bg-card-color: #F1F1F1;
    --transicion: color 0.1s, background-color 0.2s ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transicion);
}

body.dark {
    --bg-color: #1F1F1F;
    --text-color: #DADADA;
    --bg-card-color: #555555;
}

body.light {
    --text-color: #4E4E4E;
    --bg-color: #DADADA;
    --bg-card-color: #F1F1F1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: var(--transicion);
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
}

.toogle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toogle-theme__icon {
    margin-right: 0.5em;
    width: 30px;
}

.toogle-theme__text {
    font-size: 0.8rem;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 100px;
}

.colors__items {
    height: 20px;
    width: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__items {
    height: 20px;
    width: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__items--blue {
    --primary-color: #1B35C4;
}

.colors__items--red {
    --primary-color: #DB0F0F;
}

.colors__items--green {
    --primary-color: #28C31B;
}

.colors__items--purple {
    --primary-color: #720EBA;
}