:root {
    --primary-color: #1B35C4;
    --text-color: #4E4E4E;
    --bg-color: #DADADA;
    --bg-card-color: #F1F1F1;
    --transicion: color 0.1s, background-color 0.2s ease-in-out;
    --border-radius: 0.4em;
    --skill-bar-length: 0%;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transicion);
    font-family: sans-serif;
}

body.dark {
    --bg-color: #1F1F1F;
    --text-color: #DADADA;
    --bg-card-color: #555555;
}

body.light {
    --text-color: #4E4E4E;
    --bg-color: #DADADA;
    --bg-card-color: #F1F1F1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: var(--transicion);
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
}

.toogle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toogle-theme__icon {
    margin-right: 0.5em;
    width: 30px;
}

.toogle-theme__text {
    font-size: 0.8rem;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 100px;
}

.colors__items {
    height: 20px;
    width: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__items {
    height: 20px;
    width: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__items--blue {
    --primary-color: #1B35C4;
}

.colors__items--red {
    --primary-color: #DB0F0F;
}

.colors__items--green {
    --primary-color: #28C31B;
}

.colors__items--purple {
    --primary-color: #720EBA;
}

.main {
    display: grid;
    padding: 2em;
    gap: 0.5em;
}

.column {
    display: grid;
    gap: 0.5em;
}

@media screen and (min-width:760px) {
    .column--rigth {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, min-content);
        align-items: start;
    }
}

@media screen and (min-width:760px) {
    .main {
        grid-template-columns: min-content 1fr;
    }
}

.card {
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
}

.card--section {
    background-color: transparent;
}

.card__title__section {
    margin: 0 0;
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: var(--transicion);
}

@media screen and (min-width:760px) {

    .card--proyect,
    .card--section,
    .card--experience {
        display: grid;
    }

    .card--section {
        grid-column: 2;
        grid-template-columns: max-content 1fr;
    }

    .card--proyect,
    .card--experience {
        grid-column: 1/-1;
        grid-template-columns: min-content 1fr;
    }
}

.card__image-container {
    min-width: 300px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card__header {
    padding: 1em 0;
}

.card__title {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card__title--noMargin {
    margin: 0;
}

.card__title--section {
    margin: 0;
}

.card--center {
    align-items: center;
}

.card__subtitle {
    font-size: 0.8rem;
    opacity: 0.8;
}

.card__link {
    margin-bottom: 1em;
}

.card__text {
    font-size: 0.8rem;
    line-height: 2;
}

.icon {
    margin-right: 1em;
}

.skills {
    padding: 0.2em 0;
}

.skills__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.skills__bar,
.skills__bar::after {
    position: relative;
    width: 175px;
    height: 8px;
    background-color: var(--text-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.skills__bar::after {
    content: '';
    left: -175px;
    position: absolute;
    background-color: var(--primary-color);
    transition: var(--transicion);
    animation: skill-bar-fill 2s ease-in-out forwards;
}

.skills__bar--0::after {
    --skill-bar-length: 0%;
}

.skills__bar--10::after {
    --skill-bar-length: 10%;
}

.skills__bar--20::after {
    --skill-bar-length: 20%;
}

.skills__bar--30::after {
    --skill-bar-length: 30%;
}

.skills__bar--40::after {
    --skill-bar-length: 40%;
}

.skills__bar--50::after {
    --skill-bar-length: 50%;
}

.skills__bar--60::after {
    --skill-bar-length: 60%;
}

.skills__bar--70::after {
    --skill-bar-length: 70%;
}

.skills__bar--80::after {
    --skill-bar-length: 80%;
}

.skills__bar--90::after {
    --skill-bar-length: 90%;
}

.skills__bar--100::after {
    --skill-bar-length: 100%;
}

@keyframes skill-bar-fill {
    to {
        transform: translateX(var(--skill-bar-length));
    }
}

.skills__tech {
    margin: 0;
    font-size: 0.8rem;
}

.study {
    display: flex;
    align-items: start;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transicion);
}

.study__img {
    max-width: 15%;
    margin-right: 1em;
}

.study__time {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.study__name {
    font-size: 2em;
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    transition: var(--transicion);
}

.study__description {
    font-size: 0.8em;
}

.section {
    border: 1px solid var(--primary-color);
    transition: var(--transicion);
    width: max-content;
    text-align: center;
}

@media screen and (min-width:760px) {

    .proyect,
    .proyect__section,
    .experience {
        margin-left: 2em;
        position: relative;
    }
}

.proyect__tags,
.experience__description {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    width: 275px;
    gap: 1em;
}

.experience__description {
    width: max-content;
    margin: 0;
}

.proyect__tags {
    width: 275px;
    margin: 0.5em 0;
}

@media screen and (min-width:760px) {

    .proyect__tags {
        width: 350px;
        font-size: 0.8rem;
    }
}

.proyect__tag {
    padding: 0.4em 0.8em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--bg-color);
    transition: var(--transicion);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    font-size: 0.6rem;
    width: 275px;
    gap: 1em;
}

@media screen and (min-width:760px) {
    .buttons {
        width: 350px;
        font-size: 0.8rem;
        position: absolute;
        bottom: 0.1rem;
        left: 17.5rem;
    }
}

.button {
    width: 100px;
    border-radius: var(--border-radius);
    text-align: center;
    line-height: 2.5;
    transition: var(--transicion);
}

.button--primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.button--ghost {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}